Repository redhat-developer/intellij-quarkus, pull requests merged in 2023-07, with the labels that each got.

#989 feat: improve extension (de)selection in Quarkus wizard
  src/main/java/com/redhat/devtools/intellij/quarkus/module/QuarkusExtensionsStep.java
Labels: enhancement, quarkus, wizard

#991 fix: Renarde url computation
  projects/quarkus/projects/maven/renarde-todo/src/main/java/rest/Game.java
  src/main/java/com/redhat/microprofile/psi/internal/quarkus/renarde/java/RenardeJaxRsInfoProvider.java
  src/test/java/com/redhat/microprofile/psi/quarkus/renarde/RenardeJaxRsTest.java
Labels: bug, codelens

#1000 feat: Add icon for Language Servers views
  src/main/resources/META-INF/lsp4ij.xml
Labels: enhancement, lsp4ij

#996 feat: Validate defaultValue for lists and arrays
  projects/lsp4mp/projects/maven/config-quickstart/src/main/java/org/acme/config/DefaultValueListResource.java
  projects/lsp4mp/projects/maven/config-quickstart/src/main/java/org/acme/config/DefaultValueResource.java
  src/main/java/com/redhat/devtools/intellij/lsp4mp4ij/psi/internal/config/java/MicroProfileConfigASTValidator.java
  src/main/java/com/redhat/devtools/intellij/lsp4mp4ij/psi/internal/config/java/MicroProfileConfigErrorCode.java
  src/test/java/com/redhat/devtools/intellij/lsp4mp4ij/psi/core/config/java/MicroProfileConfigJavaDiagnosticsTest.java
  src/test/java/com/redhat/devtools/intellij/lsp4mp4ij/psi/core/config/properties/ConfigItemIntBoolDefaultValueTest.java
  src/test/java/com/redhat/devtools/intellij/lsp4mp4ij/psi/core/config/properties/MicroProfileConfigPropertyTest.java
Labels: enhancement, validation

#1005 fix: Ensure config_ordinal only appears in MicroProfile projects
  src/main/resources/META-INF/plugin.xml
Labels: bug, completion

#1007 feat: mark JAX-RS and Renarde endpoints as implicitly used
  src/main/java/com/redhat/devtools/intellij/lsp4mp4ij/psi/core/JavaEEImplicitUsageProvider.java
  src/main/java/com/redhat/devtools/intellij/qute/psi/internal/extensions/renarde/RenardeImplicitUsageProvider.java
  src/main/java/com/redhat/microprofile/psi/internal/quarkus/renarde/java/RenardeUtils.java
  src/main/resources/META-INF/lsp4ij-quarkus.xml
  src/main/resources/META-INF/lsp4ij-qute.xml
Labels: enhancement, quarkus

#1011 fix: remove extra colon in inlay hints
  src/main/java/com/redhat/devtools/intellij/lsp4ij/operations/inlayhint/LSPInlayHintInlayProvider.java
Labels: bug, lsp4ij, inlay hint

#1012 feat: Matching bracket in Qute template
  src/main/java/com/redhat/devtools/intellij/qute/editor/QuteBraceMatcher.java
  src/main/resources/META-INF/plugin.xml
Labels: enhancement, qute

#1021 feat: provide completion support while indexing process
  src/main/java/com/redhat/devtools/intellij/lsp4ij/operations/completion/LSContentAssistProcessor.java
Labels: enhancement, lsp4ij, completion

#1054 perf: Support for LSP CompletionList#ItemDefaults
  src/main/java/com/redhat/devtools/intellij/lsp4ij/operations/completion/LSPCompletionContributor.java
  src/main/java/com/redhat/devtools/intellij/lsp4ij/operations/completion/LSPCompletionProposal.java
Labels: lsp4ij, completion, performance
