Repository redhat-developer/intellij-quarkus, pull requests merged in 2023-10, with the labels that each got.

#1205 refactor: remove deprecated StringUtils from commons
  src/main/java/com/redhat/devtools/intellij/lsp4ij/LSPIJUtils.java
  src/main/java/com/redhat/devtools/intellij/lsp4ij/internal/StringUtils.java
  src/main/java/com/redhat/devtools/intellij/lsp4ij/operations/codeactions/LSPLazyCodeActionIntentionAction.java
  src/main/java/com/redhat/devtools/intellij/lsp4ij/operations/completion/CompletionPrefix.java
  src/main/java/com/redhat/devtools/intellij/lsp4ij/operations/completion/LSPCompletionContributor.java
  src/main/java/com/redhat/devtools/intellij/lsp4ij/operations/completion/LSPCompletionProposal.java
  src/main/java/com/redhat/devtools/intellij/quarkus/projectWizard/QuarkusExtensionsStep.java
Labels: refactor

#1210 fix: Prevent from telemetry crash when language servers starts
  src/main/java/com/redhat/devtools/intellij/quarkus/lsp/QuarkusServer.java
  src/main/java/com/redhat/devtools/intellij/qute/lsp/QuteServer.java
Labels: bug, qute, quarkus

#1213 fix: use MicroProfile LS debug settings
  src/main/java/com/redhat/devtools/intellij/quarkus/lsp/QuarkusServer.java
Labels: bug, quarkus

#1218 perf: set read action allowed when file is opened
  src/main/java/com/redhat/devtools/intellij/lsp4ij/ConnectDocumentToLanguageServerSetupParticipant.java
  src/main/java/com/redhat/devtools/intellij/lsp4ij/LanguageServiceAccessor.java
Labels: lsp4ij, performance

#1229 perf: don't get document when file is opened
  src/main/java/com/redhat/devtools/intellij/lsp4ij/ConnectDocumentToLanguageServerSetupParticipant.java
Labels: lsp4ij, performance

#1235 fix: call init when open file must start ls while indexing.
  src/main/java/com/redhat/devtools/intellij/lsp4ij/ConnectDocumentToLanguageServerSetupParticipant.java
Labels: bug, lsp4ij

#1238 fix: prevent NPE when calling ConsoleContentPanel.showMessage
  src/main/java/com/redhat/devtools/intellij/lsp4ij/console/LSPConsoleToolWindowPanel.java
Labels: bug, lsp4ij
