Repository redhat-developer/intellij-quarkus, pull requests merged in 2023-06, with the labels that each got.

#903 fix: Fix Qute test
  projects/qute/projects/maven/qute-quickstart/src/main/java/org/acme/qute/ItemResourceWithFragment.java
Labels: bug

#908 build: show failed assertions in gradle builds
  build.gradle
Labels: build

#974 fix: remove downloadable Quarkus/Qute support in Java projects
  .github/workflows/update.yml
  src/main/java/com/redhat/devtools/intellij/quarkus/facet/QuarkusFrameworkSupportProvider.java
  src/main/java/com/redhat/devtools/intellij/quarkus/facet/QuarkusFrameworkType.java
  src/main/java/com/redhat/devtools/intellij/quarkus/facet/QuarkusLibraryType.java
  src/main/java/com/redhat/devtools/intellij/qute/facet/QuteFrameworkSupportProvider.java
  src/main/java/com/redhat/devtools/intellij/qute/facet/QuteFrameworkType.java
  src/main/java/com/redhat/devtools/intellij/qute/facet/QuteLibraryType.java
  src/main/resources/META-INF/plugin.xml
  src/main/resources/quarkus.xml
  src/main/resources/qute.xml
Labels: enhancement, wizard

#976 fix: Start/stop actions from language server explorer do nothing.
  src/main/java/com/redhat/devtools/intellij/lsp4ij/console/explorer/LanguageServerExplorer.java
  src/main/java/com/redhat/devtools/intellij/lsp4ij/console/explorer/LanguageServerExplorerTreeDataProvider.java
  src/main/java/com/redhat/devtools/intellij/lsp4ij/console/explorer/actions/RestartServerAction.java
  src/main/java/com/redhat/devtools/intellij/lsp4ij/console/explorer/actions/StopServerAction.java
  src/main/java/com/redhat/devtools/intellij/lsp4ij/console/explorer/actions/TreeAction.java
Labels: bug, lsp4ij

#981 fix: don't log canceled completion requests' exceptions
  src/main/java/com/redhat/devtools/intellij/lsp4ij/operations/completion/LSContentAssistProcessor.java
Labels: bug, completion

#985 feat: map LSP4J CompletionItemKinds to Intellij IDEA icons
  src/main/java/com/redhat/devtools/intellij/lsp4ij/operations/completion/LSIncompleteCompletionProposal.java
  src/main/java/com/redhat/devtools/intellij/lsp4ij/ui/IconMapper.java
  src/main/resources/images/expui/fileTypes/text.svg
  src/main/resources/images/expui/fileTypes/text_dark.svg
  src/main/resources/images/nodes/template.svg
  src/test/java/com/redhat/devtools/intellij/lsp4ij/ui/IconMapperTest.java
Labels: enhancement, completion
