Repository redhat-developer/intellij-quarkus, pull requests merged in 2024-07, with the labels that each got.

#1349 fix: Fixed UI tests on Linux and Windows
  .github/workflows/itests.yml
  build.gradle.kts
  src/it/java/org/jboss/tools/intellij/quarkus/fixtures/dialogs/project/pages/QuarkusNewProjectSecondPage.java
  src/it/java/org/jboss/tools/intellij/quarkus/fixtures/dialogs/project/pages/QuarkusNewProjectThirdPage.java
  src/it/java/org/jboss/tools/intellij/quarkus/tests/AbstractQuarkusTest.java
  src/it/java/org/jboss/tools/intellij/quarkus/tests/BasicTest.java
  src/it/java/org/jboss/tools/intellij/quarkus/utils/XPathDefinitions.java
Labels: tests

#1351 fix: allow inject: with constructor class which have arguments
  projects/qute/projects/maven/quarkus3/src/main/java/org/acme/Bean3.java
  src/main/java/com/redhat/devtools/intellij/qute/psi/utils/CDIUtils.java
  src/test/java/com/redhat/devtools/intellij/qute/psi/utils/CDIUtilsTest.java
Labels: bug, qute

#1356 ci: Updated actions version. Added distribution for setup-java actions.
  .github/workflows/itests.yml
Labels: tests

#1358 feat: Qute: add support for template records
  projects/qute/projects/maven/qute-record/.classpath
  projects/qute/projects/maven/qute-record/.dockerignore
  projects/qute/projects/maven/qute-record/.gitignore
  projects/qute/projects/maven/qute-record/.mvn/wrapper/.gitignore
  projects/qute/projects/maven/qute-record/.mvn/wrapper/MavenWrapperDownloader.java
  projects/qute/projects/maven/qute-record/.mvn/wrapper/maven-wrapper.properties
  projects/qute/projects/maven/qute-record/.project
  projects/qute/projects/maven/qute-record/README.md
  projects/qute/projects/maven/qute-record/mvnw
  projects/qute/projects/maven/qute-record/mvnw.cmd
  projects/qute/projects/maven/qute-record/pom.xml
  projects/qute/projects/maven/qute-record/src/main/java/org/acme/sample/HelloResource.java
  projects/qute/projects/maven/qute-record/src/main/java/org/acme/sample/SomePage.java
  projects/qute/projects/maven/qute-record/src/main/resources/application.properties
  projects/qute/projects/maven/qute-record/src/main/resources/templates/Hello.html
  projects/qute/projects/maven/qute-record/src/main/resources/templates/Hello2.html
  projects/qute/projects/maven/qute-record/src/main/resources/templates/page.qute.html
  src/main/java/com/redhat/devtools/intellij/qute/psi/QuteSupportForTemplate.java
  src/main/java/com/redhat/devtools/intellij/qute/psi/internal/QuteJavaConstants.java
  src/main/java/com/redhat/devtools/intellij/qute/psi/internal/java/AbstractQuteTemplateLinkCollector.java
  src/main/java/com/redhat/devtools/intellij/qute/psi/internal/template/datamodel/TemplateRecordsSupport.java
  src/main/java/com/redhat/devtools/intellij/qute/psi/template/datamodel/AbstractDataModelProvider.java
  src/main/java/com/redhat/devtools/intellij/qute/psi/template/datamodel/AbstractInterfaceImplementationDataModelProvider.java
  src/main/resources/META-INF/plugin.xml
  src/test/java/com/redhat/devtools/intellij/qute/psi/QuteMavenProjectName.java
  src/test/java/com/redhat/devtools/intellij/qute/psi/template/TemplateGetDataModelProjectTest.java
Labels: enhancement, qute

#1359 fix: relax @channel conditions for completion/validation
  projects/lsp4mp/projects/maven/microprofile-reactive-messaging/src/main/java/org/acme/kafka/Quote.java
  projects/lsp4mp/projects/maven/microprofile-reactive-messaging/src/main/java/org/acme/kafka/QuoteResource.java
  src/main/java/com/redhat/devtools/intellij/lsp4mp4ij/psi/internal/reactivemessaging/properties/MicroProfileReactiveMessagingProvider.java
  src/test/java/com/redhat/devtools/intellij/lsp4mp4ij/psi/core/reactivemessaging/properties/MicroProfileReactiveMessagingTest.java
Labels: bug

#1360 fix: Check if record implements TemplateInstance to provide the support
  projects/qute/projects/maven/qute-record/src/main/java/org/acme/sample/HelloResource.java
  src/main/java/com/redhat/devtools/intellij/qute/psi/internal/java/AbstractQuteTemplateLinkCollector.java
  src/test/java/com/redhat/devtools/intellij/qute/psi/java/MavenJavaCodeLensTest.java
  src/test/java/com/redhat/devtools/intellij/qute/psi/java/MavenJavaDiagnosticsTest.java
  src/test/java/com/redhat/devtools/intellij/qute/psi/java/MavenJavaDocumentLinkTest.java
Labels: bug, qute
